
.image-container{
    height: 500px;
    position: relative;;
}

.product-zoom-image{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.notification {
    margin-top: 10px;
    font-size: 15px;
    color: green;
    text-align: center;
    width: fit-content;
  }