
body {
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cursive', serif;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 0;
}

.search-bar {
    margin-left: 30px;
    border-color: #2d2d2d;
    width: 400px;
}

.search-bar input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 20px;
}

.logo img {
    margin-left: 100px;
    width: 150px;
    height: auto;
}

.cart-logo img, .auth-logo img {
    width: 30px;
    height: auto;

}

.cart-button a,
.auth-button a{
    padding: 10px;
    color: black;
}

.auth-button a {
    margin-right: 20px;
}

.auth-logo img {
    margin-left: 350px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.menu-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-items a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-items a:hover {
    background-color: #464545;
    color: white;
}

.footer {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    color: white;
}

.footer-section {
    max-width: 300px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: white;
}
