<div class="container mt-5 d-flex flex-column align-items-center justify-content-center">

    <mat-form-field appearance="outline" style="width: 905px;">
        <input matInput #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey"
            placeholder="Cauta produsul...">
    </mat-form-field>

    <mat-grid-list cols="4" rowHeight="450px" gutterSize="10px" >
        <mat-grid-tile *ngFor="let p of productDetails" class="mat-elevation-z3">
            <div class="row p-5">
                <div class="image-container">
                    <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
                </div>

                <div class="mt-3">
                    <p style="white-space: inherit;  height: 40px;"><b>{{p.productName}}</b></p>
                </div>
                <div class="mt-1">
                    <p
                        style="white-space: inherit; height: 40px; width: 180px; overflow: hidden; text-overflow: ellipsis;">
                        {{p.productDescription}}</p>
                </div>
                <div class="mt-1">
                    <b> {{p.productActualPrice}} lei</b>
                </div>
                <div class="mt-1">
                    <button type="button" mat-raised-button color="primary"
                        (click)="showProductDetails(p.productId)">Vezi detalii</button>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

    <div class="load-button" *ngIf="showLoadButton">
        <button type="button" mat-raised-button color="accent" (click)="loadMoreProducts()">Mai multe
            rezultate</button>
    </div>


</div>