<div class="container mt-5">
    <h1>Autentificare</h1>
    <div class="card">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <p>Nume utilizator</p>
            <mat-form-field appearance="outline" class="field">
                
                <input matInput 
                ngModel 
                name="userName" 
                id="userName" 
                placeholder="Username">
            </mat-form-field>

            <p>Parola</p>
            <mat-form-field appearance="outline" class="field">
                
                <input type="password"
                matInput 
                ngModel 
                name="userPassword"
                id="userPassword"
                placeholder="Password">
            </mat-form-field>

            <button class="w-40" type="submit" mat-raised-button color="primary">Autentificare</button>

        </form>
        
    </div>
    <div class="text-center">
        <br>
        <button class="w-30" mat-raised-button type="button" (click)="registerUser()">Creeaza un cont</button>

    </div>
    
</div>