.card {
    display: block;
    padding: 30px; 
    text-align: center; 
    max-width: 400px;
    height: fit-content;
    margin: auto; 
    float: none; 
    margin-top: 10px; 
}

.field{
    display: block;
    text-align: center;
    max-width: 300px;
    margin:auto;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-left: 25px;
    font-weight: bold;
    font-size: medium;
}